/* --- Base & Reset Styles --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #91587b;
    color: #333;
    line-height: 1.6;
}

header {
    background: linear-gradient(rgba(170, 112, 112, 0.6), rgba(50, 69, 90, 0.918)), 
                url('https://images.unsplash.com/photo-1534447677768-be436bb09401?auto=format&fit=crop&w=1200&q=80') no-repeat center center/cover;
    color: rgb(243, 220, 242);
    text-align: center;
    padding: 60px 20px;
}

