* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(92, 119, 117);
    color: rgb(247, 126, 176);
}

/* Styling Flexbox */
#flexbox-demo-bg {
    background-color: rgb(182, 117, 219);
    color: rgb(245, 170, 255);
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(194, 149, 240);
}

.flex-item {
    background-color: rgb(238, 94, 190);
    width: 75px;
    margin: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}